// Global 
h1 {
	font-family: $fatFrank;
}
h1 {
	font-size: 1.5em;
}
h2, h4 {
	font-family: $aktiv;
}
h3 {
	font-family: $adelleSans;
}
p, h5, li {
	font-family: $garamound;
}
h2, h5 {
	font-size: 1.25em;
}
h3 {
	font-size: 0.85em;
	text-transform: uppercase;
}
p, li {
	font-size: 0.85em;
}
.text-garamound {
	font-family: $garamound;
}
@include breakpoint(laptop) {
	h1 {
		font-size: 3em;
	}
	h2, h5 {
		font-size: 2.2em;
	}
	h3 {
		font-size: 1.5em;
		font-weight: 700;
	}
	p,
	li {
		font-size: 1.5em;
	}
}
blockquote {
	font-size: 1.25em;
}
.text-white {
	color: $white;
}
.text-lightBlue {
	color: $lightBlue;
}
.text-mediumBlue {
	color: $mediumBlue;
}
.text-darlBlue {
	color: $darkBlue;
}
.text-black {
	color: $black;
}
.text-teal {
	color: $teal;
}
.text-tan {
	color: $teal;
}
.text-orang {
	color: $orange;
}
.text-green {
	color: $green;
}
.text-lightGray {
	color: $lightGray;
}
.text-mediumGray {
	color: $mediumGray;
}
.text-darkGray	{
	color: $darkGray;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-decoration {
	font-weight: 800;
}

* {
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.title-padding {
	padding-bottom: 0.2em !important;
}
@include breakpoint(laptop){
	.no-padding {
		padding-right: -0.9375;
		padding-left: -0.9375;
	}
}
@include breakpoint(desktop) {
		.wrapper-border {
			border: 5px solid #b2b4b8;
		    border-radius: 20px;
		    padding: 5em;
		    background: #fff;
		    margin-top: -100px;
		    margin-bottom: -100px;
		    z-index: 1;
		    position: relative;
		}
}
//Blog
.img-thumbnail-custom {
	float: left;
}
.no-padding {
	padding: 0;
}
a.permalink-custom {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: none;
		color: $lightGray;
	}
}

@include breakpoint(laptop){
	.blog-excerpt-bg-height {
		height: 360px;
	}
}
// Backgrounds
.bg-white {
	background-color: $white;
}
.bg-lightBlue {
	background-color: $lightBlue;
}
.bg-mediumBlue {
	background-color: $mediumBlue;
}
.bg-darkBlue {
	background-color: $darkBlue;
}
.bg-black {
	background-color: $black;
}
.bg-teal {
	background-color: $teal;
}
.bg-tan {
	background-color: $teal;
}
.bg-orang {
	background-color: $orange;
}
.bg-green {
	background-color: $green;
}
.bg-lightGray {
	background-color: $lightGray;
}
.bg-mediumGray {
	background-color: $mediumGray;
}
.bg-darkGray	{
	background-color: $darkGray;
}
@include breakpoint(mobileonly){
	.hidden-xs {
		display: none;
	}
}
@include breakpoint(phablet){
	.hidden-sm {
		display: none;
	}
}
@include breakpoint(tablet){
	.hidden-md {
		display: none;
	}
}
@include breakpoint(desktop){
	.hidden-xs,
	.hidden-sm,
	.hidden-md {
		display: block;
	}
	.hidden-lg {
		display: none;
	}
}

//buttons
a.btn-custom-blue,
a.btn-custom-white,
a.btn-slider {
	width: 200px;
}
a.btn-custom-blue-lg {
	width: 300px;
}
a.btn-custom-blue,
a.btn-custom-white,
a.btn-slider,
a.btn-custom-blue-lg {
	text-decoration: none;
	font-family: $fatFrank;
	font-size: 1.1em;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

a.btn-custom-white, 
a.btn-custom-blue {
	i {
		display: block;
	}
}
a.btn-custom-white {
	color: $white;

	&:hover,
	&:focus {
		color: $darkBlue;
	}
}
a.btn-custom-blue,
a.btn-slider,
a.btn-custom-blue-lg {
	color: $lightGray;
}
.btn-slider {
	i {
		padding-left: 0.5em;
	}
}
.btn-custom-border-gray,
.btn-custom-border-white {
	width: 200px;
}
.btn-custom-border-gray-lg {
	width: 240px;
}
.btn-custom-border-gray,
.btn-custom-border-white,
.btn-custom-border-gray-lg {
	padding: 0.2em 1.2em 0.2em 1.2em;
	border-radius: 10px;
	margin: 0 auto;	
}

.btn-custom-border-gray,
.btn-custom-border-gray-lg {
	border: solid 2px $lightGray;

	&:hover,
	&:focus {
		background-color: $darkBlue;
	}
}
.btn-custom-border-white {
	border: solid 2px $white;

	&:hover,
	&:focus {
		background-color: $white;
	}
}

@include breakpoint(phablet){
	nav.navbar.navbar-dark.nav-bg.text-darkGray.site-navigation {
		position: absolute;
		z-index: 999;
	}
}
@include breakpoint(tablet){
	nav.navbar.navbar-dark.nav-bg.text-darkGray.site-navigation {
		position: absolute;
		z-index: 999;
	}
}
@include breakpoint(laptop){
	nav.navbar.navbar-dark.nav-bg.text-darkGray.site-navigation {
		position: absolute;
		z-index: 999;
	}
}
//navigation
nav {
	a {
	 	color: #fff;

		&:hover,
		&:focus {
		 	color: $orange;
		}
	}
	
}
ul.dropdown-menu {
	left: 0px;
}
@include breakpoint(laptop){
	ul.dropdown-menu {
		left: 220px;
	}
}
.nav-pills .nav-link {
    display: block;
    padding: 0.1em 1em 0;
    border-radius: .25rem;
}
.nav-pills .nav-item.open .nav-link,.nav-pills .nav-item.open .nav-link, .nav-pills .nav-item.open .nav-link:focus, .nav-pills .nav-item.open .nav-link:hover {
	background-color: $darkBlue;
	width: 250px;
}
ul.dropdown-menu {
	border: solid 0px;
}
.navbar-dark .navbar-toggle {
    border: 0px solid #fff;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 0;
    padding: 13px 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
}
.navbar-dark .icon-bar {
    border-bottom: 4px solid $darkGray;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 7px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 4px;
}
.navbar-dark .navbar-nav .nav-link {
    color: $darkGray;
}
.nav-bg {
	background-color: $lightGray;
}
@include breakpoint(phablet) {
		.nav-bg {
			background-color: rgba($lightGray, 0);
		}
}
@include breakpoint(tablet) {
		.nav-bg {
			background-color: rgba($lightGray, 0);
		}
}
@include breakpoint(laptop) {
		.nav-bg {
			background-color: rgba($lightGray, 0);
		}
}
.navbar-header{
	margin-left: 25px;
}

//slider 
// h1.slider-header {
// 	display: block;
// }
// h2.slider-sub-header{
// 	display: block;
// }
p.slider-paragraph{
	font-size: 1.5em;
	line-height: 1.2em;
	margin-bottom: 1em;
	display: block;
}
// .slider-sub-header,
// .slider-paragraph {
// 	display: block;
// }

// @include breakpoint(phablet){
// 	.slider-sub-header,
// 	.slider-paragraph {
// 		display: none;
// 	}
// }
// @include breakpoint(tablet){
// 	.slider-sub-header,
// 	.slider-paragraph {
// 		display: none;
// 	}
// }
//Home Page
.entry-header {
	display: none;
}
@include breakpoint(laptop) {
		.home-quote {
			background-color: rgba($lightGray, 0);
	}
}

//Page Attributes
.line-gray,
.line-white,
.line-blue {
	width: 35%;
}
.line-gray-small {
	width: 10%;
}
.line-gray,
.line-white,
.line-blue,
.line-gray-small,
.line-gray-full-width {
	border-bottom: solid 1px;
	margin: 0 auto;
}
.line-gray,
.line-gray-small,
.line-gray-full-width {
	border-bottom-color: $mediumGray;
}
.line-white {
	border-bottom-color: $white;
}
.line-blue {
	border-bottom-color: $darkBlue;
}
@include breakpoint(phablet) {
		.line-gray,
		.line-white,
		.line-blue {
			width: 400px;
		}
		.line-gray-small {
			width: 100px;
		}
		.line-gray-full-width {
			width: 80%;
		}
		.line-gray,
		.line-white,
		.line-blue,
		.line-gray-small {
			border-bottom: solid 4px;
			margin: 0 auto;
		}
		.line-gray-full-width {
			border-bottom: solid 2px;
			margin: 0 auto;
		}
		.line-gray {
			border-bottom-color: $mediumGray;
		}
		.line-white {
			border-bottom-color: $white;
		}
		.line-blue {
			border-bottom-color: $darkBlue;
		}
		.line-gray-full-width {
			border-bottom-color: $lightGray;
		}
}
.space-lg {
	padding-bottom: 4em;
}
.space-lg-top {
	padding-top: 2em;
	padding-bottom: 2em;
}
.space {
	padding-top: 0em;
	padding-bottom: 2em;
}
.space-medium {
	padding: 0.5em 0 1em 0;
}
.space-small {
	padding: 1.1em 0 2px 0;
}
.space-x-small {
	padding: 0.05em 0 0 0;
}

@include breakpoint(desktop){
	.space {
		padding-top: 1.2em;
		padding-bottom: 1.2em;
	}
	.space-x-small {
	    padding: .5em 0 1.5em;
	}
}
.margin-0 {
	margin-right: -15px !important;
	margin-left: -15px !important;
}
.padding-0 {
	padding-left: 0px;
	padding-right: 0px;
}
.padding-text {
	padding: 1.2em;
}
.cta-height {
	height: 50px;
}
@include breakpoint(phablet) {
		.cta-height {
			height: 120px;
		}
}
@include breakpoint(phablet){
	.cta-title {
		height: 30px; 
	}
}
@include breakpoint(phablet){
	.color-divider {
		width: 104%
	}
}
.img-divider {
	min-width: 108%;
	height: auto;
}
@include breakpoint(phablet){
	.img-divider {
		min-width: 104%;
		height: auto;
	}
}
@include breakpoint(tablet){
	.img-divider {
		min-width: 104%;
		height: auto;
	}
}
@include breakpoint(laptop){
	.img-divider {
		min-width: 101.65%;
		height: auto;
	}
}
.img-divider.img-responsive {
	margin: 0 auto;
}
.full-width-div {
    // width: 102%;
    left: -15px;
    right: -15px;
}
.text-overlay {
    position: absolute;
    top: 0;
    margin: 0 auto;
    right: 0;
    z-index: 999;
    padding: 3em 10px 5px 25px;
}
@include breakpoint(desktop){
	.text-overlay {
		padding: 6.5em 1.2em 0 3em;
	}
}
