// Global 
h1 {
	font-family: $fatFrank;
}
h1 {
	font-size: 1.5em;
}
h2, h3, h4 {
	font-family: $aktiv;
}
p, h5 {
	font-family: $garamound;
}
h2, h5 {
	font-size: 1.25em;
}
h3 {
	font-size: 0.95em;
	text-transform: uppercase;
}
p {
	font-size: 0.85em;
}
@include breakpoint(laptop) {
		h1 {
			font-size: 2em;
		}
		h2, h5 {
			font-size: 2.2em;
		}
		h3 {
			font-size: 1.1em;
			font-weight: 700;
		}
		p {
			font-size: 1.1em;
		}
}
blockquote {
	font-size: 1.25em;
}
.text-white {
	color: $white;
}
.text-lightBlue {
	color: $lightBlue;
}
.text-mediumBlue {
	color: $mediumBlue;
}
.text-darlBlue {
	color: $darkBlue;
}
.text-black {
	color: $black;
}
.text-teal {
	color: $teal;
}
.text-tan {
	color: $teal;
}
.text-orang {
	color: $orange;
}
.text-green {
	color: $green;
}
.text-lightGray {
	color: $lightGray;
}
.text-mediumGray {
	color: $mediumGray;
}
.text-darkGray	{
	color: $darkGray;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
* {
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
//wrapper
// .wrapper-border {

// }
@include breakpoint(desktop) {
		.wrapper-border {
			border: solid 5px $lightGray;
			border-radius: 20px;
			padding: 5em;
			background: #fff;
			margin-top: -135px;
		}
}
// Backgrounds
.bg-white {
	background-color: $white;
}
.bg-lightBlue {
	background-color: $lightBlue;
}
.bg-mediumBlue {
	background-color: $mediumBlue;
}
.bg-darlBlue {
	background-color: $darkBlue;
}
.bg-black {
	background-color: $black;
}
.bg-teal {
	background-color: $teal;
}
.bg-tan {
	background-color: $teal;
}
.bg-orang {
	background-color: $orange;
}
.bg-green {
	background-color: $green;
}
.bg-lightGray {
	background-color: $lightGray;
}
.bg-mediumGray {
	background-color: $mediumGray;
}
.bg-darkGray	{
	background-color: $darkGray;
}
//buttons
a.btn-custom, a.btn-slider {
	text-decoration: none;
	font-family: $fatFrank;
	font-size: 1.1em;
	color: $lightGray;
	width: 200px;
	&::hover,
	&::focus,
	&::active {
		text-decoration: none;
	}
}
a.btn-custom {
	i {
		display: block;
	}
}

.btn-custom-border, a.btn-slider {
	border: solid 2px $lightGray;
	padding: 0.2em 1.2em 0.2em 1.2em;
	border-radius: 10px;
	width: 200px;
	margin: 0 auto;	
}
.btn-custom-border:hover,
.btn-custom-border:focus {
	background-color: $darkBlue;
}
@include breakpoint(phablet){
	nav.navbar.navbar-dark.nav-bg.text-darkGray.site-navigation {
		position: absolute;
		z-index: 999;
	}
}
@include breakpoint(tablet){
	nav.navbar.navbar-dark.nav-bg.text-darkGray.site-navigation {
		position: absolute;
		z-index: 999;
	}
}
@include breakpoint(laptop){
	nav.navbar.navbar-dark.nav-bg.text-darkGray.site-navigation {
		position: absolute;
		z-index: 999;
	}
}
 

a.btn-slider {
	i {
		padding-left: 5px;
		vertical-align: middle;
	}
	&:hover,
	&:focus {
		background-color: $teal;
		color: $white;
		border: solid 2px $teal;
	}
}
//navigation
nav {
	a {
	 	color: #fff;

		&:hover,
		&:focus {
		 	color: $orange;
		}
	}
	
}
ul.dropdown-menu {
	left: 0px;
}
@include breakpoint(laptop){
	ul.dropdown-menu {
		left: 220px;
	}
}
.nav-pills .nav-link {
    display: block;
    padding: 0.1em 1em 0;
    border-radius: .25rem;
}
.nav-pills .nav-item.open .nav-link,.nav-pills .nav-item.open .nav-link, .nav-pills .nav-item.open .nav-link:focus, .nav-pills .nav-item.open .nav-link:hover {
	background-color: $darkBlue;
	width: 250px;
}
ul.dropdown-menu {
	border: solid 0px;
}
.navbar-dark .navbar-toggle {
    border: 0px solid #fff;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 0;
    padding: 13px 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
}
.navbar-dark .icon-bar {
    border-bottom: 4px solid $darkGray;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 7px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 4px;
}
.navbar-dark .navbar-nav .nav-link {
    color: $darkGray;
}
.nav-bg {
	background-color: $lightGray;
}
@include breakpoint(phablet) {
		.nav-bg {
			background-color: rgba($lightGray, 0);
		}
}
@include breakpoint(tablet) {
		.nav-bg {
			background-color: rgba($lightGray, 0);
		}
}
@include breakpoint(laptop) {
		.nav-bg {
			background-color: rgba($lightGray, 0);
		}
}
.navbar-header{
	margin-left: 25px;
}

//slider 
// h1.slider-header {
// 	display: block;
// }
// h2.slider-sub-header{
// 	display: block;
// }
p.slider-paragraph{
	font-size: 1.5em;
	line-height: 1.2em;
	margin-bottom: 1em;
	display: block;
}
// .slider-sub-header,
// .slider-paragraph {
// 	display: block;
// }

// @include breakpoint(phablet){
// 	.slider-sub-header,
// 	.slider-paragraph {
// 		display: none;
// 	}
// }
// @include breakpoint(tablet){
// 	.slider-sub-header,
// 	.slider-paragraph {
// 		display: none;
// 	}
// }
//Home Page
.entry-header {
	display: none;
}
@include breakpoint(laptop) {
		.home-quote {
			background-color: rgba($lightGray, 0);
	}
}

//Page Attributes
.line {
	width: 35%;
	border-bottom: solid 1px $mediumGray;
	margin: 0 auto;
}
@include breakpoint(phablet) {
		.line {
			width: 400px;
			border-bottom: solid 4px $mediumGray;
			margin: 0 auto;
		}
}
.space {
	padding: 1.2em;
}
.remove-padding {
	margin-right: -15px !important;
	margin-left: -15px !important;
}
.cta-height {
	height: 50px;
}
@include breakpoint(phablet) {
		.cta-height {
			height: 80px;
		}
}